* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  min-width: 350px;
}

.nowrap {
  white-space: nowrap;
}

.todo-container {
  padding: 0 0.5rem 1rem;
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;
  position: relative;
  border: 2px solid rgb(223, 217, 217);
}

.completed {
  text-decoration: line-through;
  color: #9c9292;
}

.editting {
  background-color: #d4cfcf;
  border-radius: 10px;
}

/***Header***/

.header {
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 4px rgb(179, 176, 176);
  border-radius: 10px;
  position: sticky;
  right: 0;
  left: 0;
  top: 0.1rem;
  background-color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  color: #000;
  margin: 1rem 0;
}

.todo-input {
  background-color: rgb(231, 227, 227);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input input {
  padding: 0.5rem;
  border-radius: 35px;
  border: none;
  outline: none;
  margin: 0.4rem;
  background-color: transparent;
  font-size: 1rem;
  width: 80%;
}

.todo-input button {
  font-size: 1.2rem;
  padding: 0.8rem 1.8rem;
  border-radius: 35px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #31ba7c;
}

/***Main***/

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.item {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
}
.todo-text {
  max-width: 70vw;
  overflow-wrap: break-word;
}

.check-complete {
  cursor: pointer;
}
.delete-todo {
  width: 22px;
  height: 22px;
}

.show {
  font-size: 0.8rem;
  cursor: pointer;
  color: #000;
  display: inline;
}

.update-icon {
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem;
}

.update-icon img {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .todo-container {
    min-height: 80vh;
    min-width: 74vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .header {
    right: 14vw;
    left: 14vw;
    background-color: whitesmoke;
  }
}
