* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--TEXT-COLOR);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  min-width: 320px;
  letter-spacing: 0.5px;
}

:root {
  --SHOW-COLOR: #050505;
  --BGCOLOR: #fafafa;
  --HEADER-BGCOLOR: whitesmoke;
  --INPUT-BGCOLOR: rgb(231, 227, 227);
  --INPUT-BTN-BGCOLOR: #31ba7c;
  --INPUT-BTN-COLOR: #fff;
  --EDIT-BGCOLOR: #d4cfcf;
  --TEXT-COLOR: #000;
  --BORDER-COLOR: rgb(236, 230, 230);
  --COMPLETED-COLOR: #9c9292;
  --BOX-SHADOW-COLOR: rgb(179, 176, 176);
}

.dark-theme {
  --SHOW-COLOR: #fff;
  --BGCOLOR: #1f1f1f;
  --HEADER-BGCOLOR: rgb(56, 53, 53);
  --INPUT-BGCOLOR: rgb(97, 93, 93);
  --INPUT-BTN-BGCOLOR: #fff;
  --INPUT-BTN-COLOR: #31ba7c;
  --EDIT-BGCOLOR: #4d4949;
  --TEXT-COLOR: #fff;
  --BORDER-COLOR: rgb(65, 64, 64);
  --COMPLETED-COLOR: #a19d9d;
  --BOX-SHADOW-COLOR: rgba(253, 250, 250, 0.651);
}

.l .nowrap {
  white-space: nowrap;
}

.todo-container {
  padding: 0 0.5rem 1rem;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  position: relative;
  border: 2px solid var(--BORDER-COLOR);
}

.completed {
  text-decoration: line-through;
  color: var(--COMPLETED-COLOR);
}

.editting {
  background-color: var(--EDIT-BGCOLOR);
  border-radius: 10px;
}

/***Header***/

.header {
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 4px var(--BOX-SHADOW-COLOR);
  border-radius: 10px;
  position: sticky;
  right: 0;
  left: 0;
  top: 0.1rem;
  background-color: var(--HEADER-BGCOLOR);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--TEXT-COLOR);
  margin: 1rem 0 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.theme-icon {
  cursor: pointer;
}

.todo-input {
  background-color: var(--INPUT-BGCOLOR);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input input {
  padding: 0.5rem;
  border-radius: 35px;
  border: none;
  outline: none;
  margin: 0.4rem;
  background-color: transparent;
  font-size: 1rem;
  width: 80%;
  color: var(--TEXT-COLOR);
  font-weight: 500;
  letter-spacing: inherit;
}

.todo-input button {
  font-size: 1.2rem;
  padding: 0.8rem 1.8rem;
  border-radius: 35px;
  outline: none;
  border: none;
  color: var(--INPUT-BTN-COLOR);
  cursor: pointer;
  background-color: var(--INPUT-BTN-BGCOLOR);
  font-weight: bold;
}

/***Main***/

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.item {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
}
.todo-text {
  max-width: 70vw;
  overflow-wrap: break-word;
}

.check-complete {
  cursor: pointer;
}
.delete-todo {
  width: 22px;
  height: 22px;
}

.show {
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--SHOW-COLOR);
  display: inline;
}

.update-icon {
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem;
}

.update-icon img {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .todo-container {
    min-height: 80vh;
    min-width: 74vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
